html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

*,
*::before,
*::after{
      box-sizing: inherit;
}
  

body{
    background-color: #fff;
    color: #313841;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

main{
    margin: 3rem auto;
    width: 800px;
}

p{
    margin: 0;
    padding: 1.4rem 2rem;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

table tr td{
    padding: 1.5rem;
    border: 1px solid grey;
}
